<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim - Arda Build</title>
    <link rel="stylesheet" href="/css/iletisim.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <i class="fa-solid fa-dumbbell"></i>
        </div>
        <nav class="navbar">
            <a href="/" class="button">Ana Sayfa</a>
            <a href="/#paketler" class="button">Uzaktan Eğitim Paketleri</a>
            <a href="/#degisimler" class="button">Değişimler</a>
            <a href="/#merak-edilenler" class="button">Merak Edilenler</a>
        </nav>
        <% if (locals.user) { %>
            <a href="/profile"><i class="bi bi-person" style="position:relative;left: 140px;font-size: 20px;"> Profilim</i></a>
            <form action="/auth/logout" method="POST" style="display: inline;">
                <button type="submit" style="background: none; border: none;">
                    <i class="bi bi-box-arrow-right" style="position:relative;left: 5px;font-size: 20px;color: white;"> Çıkış</i>
                </button>
            </form>
        <% } else { %>
            <a href="/auth/login"><i class="bi bi-box-arrow-in-right" style="position:relative;left: 140px;font-size: 20px;"> Giriş Yap</i></a>
            <a href="/auth/register"><i class="bi bi-person" style="position:relative;left: 5px;font-size: 20px;"> Kayıt Ol</i></a>
        <% } %>
    </header>
    <main class="main-section">
            <div class="content">
                <h1 class="contact-title">İletişime Geç</h1>
                <p>Aşağıdaki iletişim bilgilerini kullanarak benimle iletişime geçebilirsiniz:</p>
                <div class="contact-container">
                    <div class="contact-box">
                        <i class="bi bi-envelope"></i>
                        <h3>Bilgi Mail</h3>
                        <p>bilgi@ardabuild.com</p>
                    </div>
                    <div class="contact-box">
                        <i class="bi bi-envelope"></i>
                        <h3>Sponsor Mail</h3>
                        <p>isbirligi@ardabuild.com</p>
                    </div>
                    <div class="contact-box">
                        <i class="bi bi-whatsapp"></i>
                        <h3>WhatsApp İletişim</h3>
                        <p>0850 242 2732</p>
                    </div>
                    <div class="contact-box">
                        <i class="bi bi-youtube"></i>
                        <h3>YouTube Kanalım</h3>
                        <p>Arda build</p>
                    </div>
                    <div class="contact-box">
                        <i class="bi bi-tiktok"></i>
                        <h3>TikTok Hesabım</h3>
                        <p>ardabuild</p>
                    </div>
                    <div class="contact-box">
                        <i class="bi bi-instagram"></i>
                        <h3>Instagram Hesabım</h3>
                        <p>@ardabuild</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>
