.cardstil {
  background-color: rgba(28, 13, 112, 0.841);
  width: 400px;
}
.card-group {
  display: flex; /* Kartları yatay sıralar */
  gap: 20px; /* Kartlar arasında boşluk bırakır */
  justify-content: center; /* Ortalamak için */
  align-items: flex-start; /* Yüksekliği hizalar */
  flex-wrap: nowrap; /* Satır kaymasını önler */
}

.card {
  flex: 1; /* Kartların eşit genişlikte olmasını sağlar */
  margin: 10px; /* Kartların çevresinde boşluk oluşturur */
  width: 100%; /* Resmin genişliğini %100 yapar */
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.i {
  width: 300px;
}
.cardici {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.card ul li {
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
}
.card ul li::before {
  content: "✔";
  margin-top: 10px;
  color: #00ff88;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(0, 0, 0);
}
.detay {
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.detay:hover {
  transition: background-color 2s ease;
  background: -webkit-linear-gradient(rgb(10, 207, 178), rgb(0, 4, 255));
  transform: scale(1.1);
}
.oklar {
  display: flex;
  justify-content: space-around;
}
.mla {
  margin-left: 30px;
  color: #96cdce;
}
